a.btn-ro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 auto;
  color: white;
  font-size: clamp(0.7rem, -0.3333rem + 1vw, 1.4rem);
  height: var(--btn-h);
  max-height: 48px;
  border-radius: calc(var(--basic-radius) / 1.3);
  text-transform: uppercase;
  padding: 0 calc(var(--btn-h) / 1.5);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
}

a.btn-ro.normal {
  background: radial-gradient(
    circle,
    rgba(51, 51, 51, 1) 10%,
    rgba(50, 50, 50, 1) 100%
  );
}

a.btn-ro.accent {
  background: radial-gradient(
    circle,
    rgb(231, 2, 55) 10%,
    rgb(199, 2, 45) 100%
  );
}

.btn-ro:hover {
  background: linear-gradient(90deg, rgba(70, 70, 70, 1), rgba(30, 30, 30, 1));
}

.chips {
  background-color: var(--first-color);
  color: white;
  border-radius: 1em;
  padding: 0.35em 1em;
  min-height: 32px;
}

a.btn-ro:has(i) {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

a {
  color: #333;
}

a:hover:not(.btn-ro, .chips) {
  color: green;
}

@media (width <= 640px) {
  a.btn-ro {
    height: calc(var(--btn-h) * 1.2);
  }
}
