a.btn-ro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  font-size: clamp(0.8rem, 0.2lvw + 1rem, 2rem);
  height: var(--btn-h);
  max-height: 48px;
  width: auto;
  border-radius: calc(var(--basic-radius) / 1.3);
  padding: 0 calc(var(--btn-h) / 1.5);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
}

.normal {
  background: radial-gradient(
    circle,
    rgba(51, 51, 51, 0.8) 10%,
    rgba(50, 50, 50, 1) 100%
  );
  border:solid 1px rgba(50, 50, 50, 1);
  &:hover {
    background-color: rgba(50, 50, 50, 1) ;
  }
}

.accent {
  background: radial-gradient(
    circle,
    rgba(175, 5, 42, 0.75) 10%,
    rgba(175, 5, 42, 0.95) 100%
  );
  border:solid 1px rgb(175, 5, 42);
  &:hover{
    background-color:rgb(175, 5, 42);
  }
}



.chips {
  background-color: var(--first-color);
  color: white;
  border-radius: 1em;
  padding: 0.35em 1em;
  min-height: 32px;
}

a.btn-ro:has(i) {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

a {
  color: #333;
}

a:hover:not(.btn-ro, .chips) {
  color: rgb(227, 162, 41);
}

@media (width < 620px) {
  a.btn-ro {
    height: calc(var(--btn-h) * 1.3);
  }
}
