:root {
  --first-color: #111000;
  --second-color: #005923;
  --body-bg: #efefef;
  --card-radius: 0.4em;
  --btn-h: calc(30px + 0.5vh + 0.5vw);
  --btn-radius: var(--card-radius);

  --header-content-width: clamp(20px, calc(20px + 3vw), 20vw);
  --header-title-color: var(--first-color);
  --header-bottom-margin: 3vh;
  --main-content-width: clamp(20px, 8vw, 50vw);

  --footer-address-bg-color: var(--first-color);
  --footer-sponsors-bg-color: white;
  --footer-copyright-bg-color: white;
  --footer-content-width: 2vh 5vw;
  --ggs: 0.74; /* size of icons */
}

/* GENERAL ELEMENTS (BUTTONS, IMPUTS ETC) */

a.btn-ro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex: 1 0 auto;
  background: linear-gradient(90deg, rgba(80, 80, 80, 1), rgba(5, 5, 5, 1));
  border: 1px solid #111000;
  color: white;
  font-size: x-small;
  height: var(--btn-h);
  width: max-content;
  border-radius: calc(var(--btn-radius) / 1.5);
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 calc(var(--btn-h) / 2);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
}

.btn-ro:hover {
  background: linear-gradient(90deg, rgba(70, 70, 70, 1), rgba(30, 30, 30, 1));
}

.chips {
  border: 1px solid var(--second-color);
  border-radius: 0.8em;
  padding: 0.2em 0.7em;
}

select {
  border: var(--first-color) 1px solid;
  padding: 7px 15px;
  background-color: transparent;
  color: var(--first-color);
  border-radius: calc(var(--btn-radius) / 1.5);
  min-width: 100px;
}

/* MAIN CONTENT AREA */

main {
  padding: 0 var(--main-content-width);
}

main section {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  gap: calc(1vw + 1vh);
}

.card {
  background-color: #e7e7e7;
  min-width: 400px;
  border-radius: var(--card-radius);
  object-fit: cover;
  box-shadow: 0 0 26px #ccc;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}

.card .txt-stripe {
  width: 100%;
  height: max-content;
  min-height: 13vh;
  max-height: 300px;
  background-color: rgba(41, 112, 112, 0.473);
  padding: 18px 30px;
}

.card h2 {
  color: white;
}

.f_100 {
  flex: 1 1 100%;
  background-color: blue;
  aspect-ratio: 16 / 7;
}
.f_50 {
  flex: 1 0 48%;
  background-color: rgb(149, 77, 190);
  aspect-ratio: 16 / 10;
}

.pct_1 {
  background-image: url('https://images.unsplash.com/photo-1652071645850-b4fa67a37853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=5070&q=80');
  background-size: cover;
  background-blend-mode: darken;
}

.pct_1:hover {
  background-blend-mode: overlay;
}

/* NAVBAR */
header * {
  //border: 1px solid rgb(221, 109, 109);
}

header {
  display: grid !important;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: min-content 2fr;
  justify-items: stretch;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  gap: 8px;
  margin-bottom: var(--header-bottom-margin);
  height: clamp(185px, 220px, auto);
  border-bottom: 18px solid rgba(0, 0, 0, 0.8);
  padding: calc(10px + 0.7vw) var(--header-content-width) 60px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #eee);

  //filter: blur(1px);
  //transform: translateZ(0);
}

header .logo-top {
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
  grid-row: 1 / span 3;
  gap: 0;
}
.logo-top img {
  height: clamp(70px, calc(30px + 6vw + 4vh), 200px);
}

.logo-top label {
  align-self: center;
  font-size: clamp(1em, calc(0.5em + 2vw), 2.5em);
  font-weight: 500;
  color: var(--header-title-color);
  width: max-content;
}

.lang {
  display: flex;
  grid-column: 4;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: calc(8px + 1vw);
  font-size: 1rem;
}

#headerCardPanel {
  display: flex !important;
  grid-column: 4;
  grid-row: 3;
  gap: 25px;

  padding: 24px;
  //border-bottom: 1px solid #ddd;
  background: white;
  border-radius: var(--card-radius);
  box-shadow: 0 0 10px 0px #ccc;
  overflow: hidden;
  width: min-content;
}

.user-attr {
  display: flex;
  align-items: flex-start;
  //background-color: #64eb9a;
}

.user-attr * {
  //border: 1px solid red;
}

.avatar {
  width: max(75px, clamp(80px, 6vw, 110px));
  clip-path: circle();
  background-color: aqua;
}

.user-name {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  margin: 8px;
  gap: 10px;
  width: max-content;
  //background-color: blueviolet;
}

.user-name .edit,
a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  color: #000;
  //background-color: coral;
}

.bucketStatus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: orangered;
}

/* FOOTER */

footer {
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  min-height: 300px;
  box-shadow: 0 -12px 20px #eee;
  font-size: small;
}

footer .sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--footer-content-width);
  background-color: var(--footer-sponsors-bg-color);
}

footer .address {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 33%;
  min-width: 500px;
  gap: 50px;
  justify-content: space-evenly;
  padding: var(--footer-content-width);
  background: var(--footer-address-bg-color);
  color: lightgray;
}

footer .address h4 {
  margin-bottom: 10px;
}

footer .address ul {
  text-indent: 12px;
  list-style-position: inside;
  line-height: 1.2em;
}

footer .address ul li > a {
  color: lightgray;
}

footer .copyright {
  padding: var(--footer-content-width);
  background: var(--footer-copyright-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

footer .copyright img {
  height: 4vh;
  max-width: 220px;
}

/* MEDIA */

@media screen and (max-width: 960px) {
  body {
    background-color: pink;
  }

  header .logo-top {
  }

  #headerCardPanel {
  }

  .lang {
  }
}

@media screen and (max-width: 890px) {
  body {
    background-color: lightgreen;
  }

  a.btn-ro {
    height: calc(var(--btn-h) * 1.3);
  }

  #headerCardPanel {
    grid-column: 1 / span 4;
    grid-row: 4;
    width: auto;
  }

  .logo-top {
  }

  .lang {
    grid-column: 4;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 833px) {
  body {
    background-color: rgb(214, 181, 207);
  }

  a.btn-ro {
    height: calc(var(--btn-h) * 1.3);
  }

  #headerCardPanel {
    grid-column: 1 / span 4;
    grid-row: 4;
    width: auto;
  }

  .logo-top {
  }

  .lang {
    grid-column: 4;
    display: flex;
    flex-direction: column-reverse;
  }
}
