:root {
  --first-color: #222000;
  --second-color: #005923;
  --body-bg: #efefef;
  --card-radius: 0.45em;
  --btn-h: calc(30px + 0.5vh + 0.5vw);
  --btn-radius: var(--card-radius);

  --header-content-width: clamp(20px, calc(10px + 4vw), 20vw);
  --header-title-color: var(--first-color);
  --header-subtitle-color: #a99861;
  --header-bottom-margin: 3vh;
  --main-content-width: clamp(20px, 10vw, 160px);

  --footer-address-bg-color: var(--first-color);
  --footer-address-txt-color: whitesmoke;
  --footer-sponsors-bg-color: white;
  --footer-copyright-bg-color: white;

  --footer-content-width: 2vh 5vw;

  --ggs: 0.74; /* size of icons */
}

/* GENERAL ELEMENTS (BUTTONS, IMPUTS ETC) --------------------*/

a.btn-ro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex: 1 0 auto;
  background: linear-gradient(
    90deg,
    rgba(110, 110, 110, 1),
    rgba(50, 55, 55, 1) 50%
  );
  border-top: 1px inset #111000;
  border-left: 1px inset #363631;
  color: white;
  font-size: x-small;
  height: var(--btn-h);
  width: max-content;
  border-radius: calc(var(--btn-radius) / 1.5);
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 calc(var(--btn-h) / 2);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
}

.btn-ro:hover {
  background: linear-gradient(90deg, rgba(70, 70, 70, 1), rgba(30, 30, 30, 1));
}

.chips {
  //border: 1px solid var(--second-color);
  background-color: var(--first-color);
  color: white;
  border-radius: 1em;
  padding: 0.35em 0.7em;
}

select {
  border: var(--first-color) 1px solid;
  padding: 7px 15px;
  background-color: transparent;
  color: var(--first-color);
  border-radius: calc(var(--btn-radius) / 1.5);
  min-width: 100px;
}

.ico {
  width: 26px;
  display: flex;
  justify-content: center;
}

/* NAVBAR --------------------------------------------------- */

header * {
  // border: 1px solid rgb(221, 109, 109);
}

header {
  display: grid !important;
  grid-template-columns: 1fr 20px max-content;
  grid-template-rows: min-content 2fr;
  justify-items: stretch;
  align-items: center;
  justify-content: start;
  gap: 15px 5px;
  margin-bottom: var(--header-bottom-margin);
  height: clamp(185px, max-content, 280px);
  border-bottom: clamp(12px, 2vw, 20px) solid rgba(0, 0, 0, 0.8);
  padding: clamp(10px, 5vw, 20px) var(--header-content-width);
  background: linear-gradient(155deg, #fff 50%, #b0b0b0);
  box-shadow: 0 -5px 0 inset lightgrey;
}

header .logo-top {
  grid-column: 1;
  grid-row: 1 / span 3;
}

header .logo-top > * {
  display: flex;
  align-items: center;
}

header .logo-top img {
  height: clamp(70px, calc(6vw + 4vh), 170px);
}

header .logo-top h1 {
  font-size: clamp(1em, 3.2vw, 2em);
  font-weight: 600;
  color: var(--header-title-color);
  width: max-content;
  text-transform: uppercase;
  line-height: 1.5;
}

header .logo-top p {
  color: var(--header-subtitle-color);
  font-size: clamp(1em, 2vw, 1.5em);
}

header .lang {
  grid-column: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: calc(5px + 1vw);
  font-size: 1em;
}

#headerCardPanel {
  grid-column: 2 / span 4;
  grid-row: 2 / span 3;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1em;
  padding: calc(10px + 0.8vw) calc(7px + 1vw);
  background: linear-gradient(250deg, #e3e3e3 5%, white 70%);
  border-radius: var(--card-radius);
  box-shadow: 0 0 17px 0px #bbb;
  border-bottom: 1px inset #f2f2f2;
  border-right: 2px inset #f2f2f2;
  overflow: hidden;
  width: max-content;
  height: min-content;
}

/*--- AFTER LOGGED ---------------- */

.avatar img {
  width: clamp(66px, 5vw, 85px);
  clip-path: circle();
  background-color: lightgrey;
}

/*
.avatar-edit {
  padding: 0.7em;
  background-color: white;
  z-index: 1001;
  position: relative;
  left: -5px;
  bottom: 25px;
  width: min-content;
  clip-path: circle();
}
*/

#user-attr {
  display: flex;
  align-items: center;
  gap: 8px;
  //border: 1px solid red;
}

#user-attr * {
  //border: 1px solid red;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 0.85em;
  height: 100%;
  padding: 8px 0;
  gap: 18px;
}

.user-name div:nth-child(2) {
  display: flex;
  gap: 15px;
}

.user-name div:nth-child(2) > a {
  display: flex;
  align-items: center;
  color: #333;
}

.user-name div:nth-child(2) > a:hover {
  color: green;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  //border: 1px solid red;
}

#cart img {
  height: 30px;
  aspect-ratio: 1 / 1;
}

#cart > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
}

#cart > div:nth-child(1) label {
  background-color: var(--header-subtitle-color);
  padding: 0.35em;
  width: 1.8em;
  clip-path: circle();
  font-size: small;
  font-weight: 600;
  color: white;
  text-align: center;
}

#cart > div:nth-child(2) {
  color: darkred;
}

#cart > div:nth-child(2) p:nth-child(1) {
  font-size: 0.85em;
}
#cart > div:nth-child(2) p:nth-child(2) {
  font-weight: 600;
}

/* MAIN CONTENT AREA -------------------------- */

main {
  padding: 0 var(--main-content-width);
}

main section {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  gap: calc(1vw + 1vh);
}

.card {
  background-color: #e7e7e7;
  min-width: 300px;
  max-width: auto;
  border-radius: var(--card-radius);
  object-fit: cover;
  box-shadow: 0 0 26px #ccc;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}

.card .txt-stripe {
  width: 100%;
  height: max-content;
  min-height: 13vh;
  max-height: 300px;
  background-color: rgba(41, 112, 112, 0.473);
  padding: 18px 30px;
}

.card h2 {
  color: white;
}

.f_100 {
  flex: 1 1 100%;
  background-color: blue;
  aspect-ratio: 16 / 7;
}
.f_50 {
  flex: 1 0 48%;
  background-color: rgb(149, 77, 190);
  aspect-ratio: 16 / 10;
}

.pct_1 {
  background-image: url('https://images.unsplash.com/photo-1652071645850-b4fa67a37853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=5070&q=80');
  background-size: cover;
  background-blend-mode: darken;
}

.pct_1:hover {
  background-blend-mode: overlay;
}

/* FOOTER */

footer {
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  min-height: 300px;
  box-shadow: 0 -12px 20px #ccc;
  font-size: small;
}

footer .sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--footer-content-width);
  background-color: var(--footer-sponsors-bg-color);
}

footer .sponsors img {
  max-width: 90vw;
}

footer .address {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: var(--footer-content-width);
  background: var(--footer-address-bg-color);
}

footer .address > div,
footer .address > div a {
  // border: 1px solid red;
  flex: 1 0 auto;
  color: var(--footer-address-txt-color);
}

footer .address h4 {
  margin-bottom: 10px;
}

footer .copyright {
  padding: var(--footer-content-width);
  background: var(--footer-copyright-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

footer .copyright img {
  height: 4vh;
  max-width: 220px;
}

/* MEDIA ----------------------------------*/

@media screen and (max-width: 960px) {
  body {
    //background-color: rgb(214, 181, 207);
  }

  a.btn-ro {
    height: calc(var(--btn-h) * 1.2);
  }

  header {
    grid-template-columns: 100%;
    grid-template-rows: min-content auto 1fr;
    padding: 8px;
    gap: 10px;
  }

  header .logo-top {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }

  header .logo-top img {
    width: 13vw;
    height: auto;
  }

  header .lang {
    grid-column: 1;
    grid-row: 1;
    justify-content: space-between;
  }

  #headerCardPanel {
    grid-column: 1;
    grid-row: 5;
    width: auto;
    flex-direction: column;
  }

  #cart {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  footer .address {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 0 2vw;
  }

  .f_100,
  .f_50 {
    aspect-ratio: 3 / 4;
  }
}

/*------------------------------------------*/

@media screen and (max-width: 750px) {
  body {
    //background-color: rgb(247, 248, 157);
  }

  header {
  }

  #headerCardPanel {
  }

  .logo-top {
  }

  .lang {
    display: flex;
    flex-direction: row;
  }
}
