@import url('global.css');
@import url('new-header.css');
@import url('new-footer.css');
@import url('btns.css');

:root {
  --first-color: #333666;
  --second-color: #005923;
  --body-bg: #efefef;
  --main-top-padding: 3vh;

  --basic-radius: 0.35em; /* basic radius for card/boxes */
  --box-wrap-width: 78vw;
  --box-wrap-with-max: 1680px;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: var(--main-top-padding) 10px;
  background: #222;
  background-size: cover;
  background-position: center;
  padding: 0;
  box-sizing: border-box;
}
