@import url('global.css');
@import url('new-header.css');
@import url('new-footer.css');
@import url('btns.css');

:root {
  --first-color: #333666;
  --second-color: #005923;
  --body-bg: #efefef;
  --main-top-padding: 3vh;

  --basic-radius: calc(0.2em + 0.1vw); /* basic radius for card/boxes */
  --box-wrap-width: 80vw;
  --box-wrap-with-max: 1680px;

  --header-wrap-width: 80vw;
  --header-title-color: var(--first-color);
  --header-subtitle-color: #a99861;
  --select-color: #fff;
  --bg-header: #333;

  --footer-content-width: 86vw;
  --footer-address-bg-color: var(--first-color);
  --footer-address-txt-color: whitesmoke;
  --footer-sponsors-bg-color: white;
  --footer-copyright-bg-color: white;

  --btn-h: calc(1.8rem + (0.5vh + 0.5vw));
  --btn-radius: var(--basic-radius);
  --btn-bg-action-color: ;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: var(--main-top-padding) 10px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.main-wrap {
  width: var(--box-wrap-width);
  max-width: var(--box-wrap-with-max);
  margin: 3rem auto;
}
