:root {
  --header-content-wrap: clamp(20px, calc(10px + 5vw), 20vw);
  --header-title-color: var(--first-color);
  --header-subtitle-color: #a99861;
}

header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: min-content 1fr;
  justify-items: stretch;
  align-items: center;
  justify-content: start;
  gap: 15px;
  height: clamp(185px, max-content, 280px);
  padding: clamp(10px, 5vw, 20px) var(--header-content-wrap);
  background: linear-gradient(155deg, #fff 60%, #c0c0c0);
  box-shadow: 0 -8px 0 inset #ccc;
  border-bottom: clamp(12px, 2vw, 20px) solid rgba(0, 0, 0, 0.8);
}

header .logo-top {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  align-items: center;
  & img {
    height: clamp(70px, calc(6vw + 4vh), 170px);
  }
}

.logo-top .c_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & h1 {
    font-size: clamp(1em, 2em, 3em);
    font-weight: 600;
    color: var(--header-title-color);
    text-transform: uppercase;
    line-height: 1.5;
  }
  & p {
    color: var(--header-subtitle-color);
    font-size: clamp(1em, 2.6vw, 1.5em);
  }
}

header .lang {
  grid-column: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(5px + 1vw);
  font-size: 1em;
}

#LoginPanel {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: min-content;
  gap: clamp(1rem, 1vw, 20px);
  padding: calc(8px + 0.5rem) calc(8px + 1rem);
  background: linear-gradient(250deg, #e3e3e3 5%, white 70%);
  border-radius: var(--card-radius);
  box-shadow: 0 0 15px 0px #bbb;
  border-right: 2px inset #f2f2f2;
  overflow: hidden;
}
