header {
  background: var(--bg-header);
  box-shadow: 0 -2px 0 inset rgba(204, 204, 204, 0.137);
  padding: 1.5rem 0;
}

.header-wrap {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto 1fr;
  justify-content: start;
  align-content: start;
  gap: 1vw;
  width: var(--header-wrap-width);
  margin: 0 auto;
}

.logo-top {
  grid-column: 1 / 2;
  grid-row: span 2;
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  & img {
    height: clamp(80px, calc(3vh + 4.5vw), 150px);
    max-width: 60vw;
  }
}

.logo-top .c_name {
  display: flex;
  gap: 0.4em;
  & h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--header-title-color);
    text-transform: uppercase;
    line-height: 1;
  }

  & p {
    color: var(--header-subtitle-color);
    font-size: clamp(1.3rem, -0.3333rem + 2vw, 2.6rem);
    font-weight: 400;
  }
}

.lang {
  grid-column: 3 / 4;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(5px + 1vw);
  font-size: 1em;
  height: min-content;
  padding: 8px;
}

.lang select {
  border: #ccc 1px solid !important;
  padding: 0.4em 1em;
  text-align: center;
  background-color: transparent;
  color: var(--select-color);
  border-radius: calc(var(--basic-radius) / 1.5);
  width: max-content;
  max-height: 36px;
}

.LoginPanel {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: fit-content;
  height: min-content;
  gap: 1rem;
  overflow: hidden;
  padding: calc(10px + 0.5rem) calc(7px + 0.7em);
  background: linear-gradient(
    250deg,
    #e3e3e3ea 2%,
    rgba(255, 255, 255, 0.7) 90%
  );
  background-color: rgba(250, 204, 79, 0.993);
  border-radius: var(--basic-radius);
  box-shadow: 0 0 15px 0px rgba(10, 10, 10, 0.267);
}

#assignAccountContainer:empty {
  display: none;
}

.LoginPanel[data-logged] {
  background-color: rgb(202, 74, 74);
  & .buttons > a {
    width: fit-content;
    word-break: keep-all;
    font-size: 0.9rem;
  }
  & #cart_panel {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    align-content: start;
    align-items: center;
  }
  & .busket {
    & img {
      width: 42px;
      aspect-ratio: 1 / 1;
    }
    & a.cart_delete {
      color: red;
      position: relative;
      bottom: 15px;
    }
  }
}

@media (width <= 1260px) {
  .LoginPanel {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .logo-top {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (width <= 980px) {
  .LoginPanel {
    grid-column: span 6;
    grid-row: 4;
    justify-content: center;
    justify-self: unset;
    width: auto;
  }
  .logo-top {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (width <= 640px) {
  .header-wrap {
    gap: 1rem;
    width: 96%;
  }

  .LoginPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 6;
    grid-row: 4;
    justify-content: center;
    justify-self: unset;
    width: auto;
  }

  .logo-top {
    grid-column: span 6;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lang {
    grid-column: span 6;
    grid-row: 1;
  }
}
