:root {
  --header-wrap-width: 88vw;
  --header-title-color: var(--first-color);
  --header-subtitle-color: #a99861;
  --select-color: #fff;
}

header {
  padding: 1em 1.2em;
  background: linear-gradient(
    99deg,
    rgba(23, 31, 40, 1) 31%,
    rgba(255, 0, 60, 1) 100%
  );
  box-shadow: 0 -2px 0 inset rgba(204, 204, 204, 0.137);
}

.header-wrap {
  display: grid;
  grid-template-columns: 1fr 10em 1fr;
  grid-template-rows: min-content 1fr;
  justify-content: stretch;
  align-content: stretch;
  gap: 1vw;
  width: var(--header-wrap-width);
  margin: 0 auto;
}

.logo-top {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  & img {
    height: clamp(60px, calc(3vh + 4vw), 100px);
  }
}

.logo-top .c_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4em;
  & h1 {
    font-size: clamp(1em, 2em, 3em);
    font-weight: 600;
    color: var(--header-title-color);
    text-transform: uppercase;
    line-height: 0.9;
  }
  & p {
    color: var(--header-subtitle-color);
    font-size: clamp(1em, 2.6vw, 1.5em);
  }
}

.lang {
  grid-column: 3 / 6;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(5px + 1vw);
  font-size: 1em;
}

header .lang select {
  border: var(--select-color) 1px solid;
  padding: 0.4em 1em;
  text-align: center;
  background-color: transparent;
  color: var(--select-color);
  border-radius: calc(var(--btn-radius));
  width: min-content;
  min-width: 100px;
  max-height: 36px;
}

#LoginPanel {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: min-content;
  gap: 0.7em;
  overflow: hidden;
  padding: calc(8px + 0.5em) calc(8px + 0.7em);
  background: linear-gradient(
    250deg,
    #e3e3e3ea 2%,
    rgba(255, 255, 255, 0.7) 90%
  );
  border-radius: var(--basic-radius);
  box-shadow: 0 0 15px 0px rgba(10, 10, 10, 0.267);
}

@media screen and (width <= 1280px) {
  .header-wrap {
    width: 95vw;
  }
  #LoginPanel {
    grid-column: 2 / 6;
    grid-row: 4;
  }
  .logo-top {
    grid-column: 1;
    grid-row: 1;
  }
}

@media screen and (width <= 980px) {
  .header-wrap {
  }
  #LoginPanel {
    grid-column: span 6;
    grid-row: 4;
    justify-content: center;
    justify-self: unset;
    width: auto;
  }
  .logo-top {
    grid-column: 1;
    grid-row: 1;
  }
}
