

main {
  padding: var(--main-content-width);
}

main section {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  gap: calc(1vw + 1vh);
}

.card {
  background-color: #e7e7e7;
  min-width: 400px;
  border-radius: var(--card-radius);
  object-fit: cover;
  box-shadow: 0 0 26px #ccc;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}

.card .txt-stripe {
  width: 100%;
  height: max-content;
  min-height: 13vh;
  max-height: 300px;
  background-color: rgba(41, 112, 112, 0.473);
  padding: 18px 30px;
}

.card h2 {
  color: white;
}

.f_100 {
  flex: 1 1 100%;
  background-color: blue;
  aspect-ratio: 16 / 7;
}
.f_50 {
  flex: 1 0 48%;
  background-color: rgb(149, 77, 190);
  aspect-ratio: 16 / 10;
}

.pct_1 {
  background-image: url('https://images.unsplash.com/photo-1652071645850-b4fa67a37853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=5070&q=80');
  background-size: cover;
  background-blend-mode: darken;
}

.pct_1:hover {
  background-blend-mode: overlay;
}

@media screen and (max-width: 960px) {
  .f_100 {
    aspect-ratio: 16/10;
  }
} ;
