main {
  background-color: aqua;
  margin: 0 10vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  height: auto;
  align-self: stretch;
  background-color: brown;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: blueviolet;
}

.f_100 {
  flex-basis: 80%;
  background-color: blue;
}

.card {
  background-color: #e7e7e7;
  color: white;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 800px) {
  .cards {
  }
  .card-plug {
  }
} ;
