footer {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 1rem;
  overflow: hidden;
  height: min-content;
}

footer .sponsors {
  width: var(--footer-content-width);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: var(--footer-sponsors-bg-color);
  & img {
    display: block;
    max-width: 250px;
  }
}

footer .address {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: small;
  background: var(--footer-address-bg-color);
  padding: 1.5rem 3rem;
}

footer .address > div {
  display: flex;
  flex-direction: column;
  flex: 2 0 250px;
  gap: 10px;
  padding-left: 10%;
}

footer .address .social > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

footer .address {
  & a,
  p,
  h4 {
    color: var(--footer-address-txt-color);
  }
}

.ico-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  width: max-content;
}

.ico-social img {
  object-fit: contain;
  width: 2em;
  aspect-ratio: 1 / 1;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 1rem;
  height: auto;
  background: var(--footer-copyright-bg-color);
}

footer .copyright .footer-lang {
  font-size: clamp(1rem, -0.3333rem + 1.6vw, 2rem);
}

.copyright .comp_logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  width: 96%;
}

.comp_logos img {
  max-height: 40px;
  max-width: 220px;
}

@media (width <= 640px) {
  .copyright .comp_logos {
    justify-content: center;
  }
  .copyright .footer-lang {
    align-items: center;
    align-content: center;
  }
  .comp_logos img {
    max-height: 30px;
    max-width: 40%;
  }
}
