body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-rendering: geometricPrecision;
}

main {
  display: flex;
  flex-wrap: nowrap;
  min-height: 30vh;
  align-self: stretch;
  padding: var(--main-content-width);
}

main section {
  visibility: collapse;
}

.f_100 {
  flex-basis: 80%;
  background-color: blue;
}

.card {
  background-color: #e7e7e7;
  color: white;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 800px) {
  .cards {
  }
  .card-plug {
  }
} ;
