footer {
  margin-top: 30px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 300px;
}

footer .footer-sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px;
  background-color: aliceblue;
}

footer .address {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  color: #00519c;
  padding: var(--container-padding);
  ;
}

footer .footer-box {
  min-width: max-content;
}

footer p,
li,
h4,
a {
  font-size: small;
  color: var(--primary-color);
}

footer .footer-copyright {
  margin: 30px 0 0;
  padding: 15px 0;
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100vw;
}

footer .footer-copyright .container {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  margin: 0 auto;
  gap: 30px;
}

.footer-roboticket-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 910px) {
}
