@import url('new-header.css');
@import url('new-footer.css');
@import url('btns.css');
@import url('content-wrap.css');
@import url('override.css');
@import url('grid-10-14.css');  /* layout for productMain.html */
@import url('');                /* font */

:root {
  --first-color: hsl(8, 95%, 60%);
  --second-color: hsl(44, 96%, 50%);
  --third-color: hsl(248, 35%, 50%);
  --dark-base-color: hsl(0, 0%, 27%);
  --light-base-color:hsl(255,100%,100%);

  --first-color-tint: hsl(8, 65%, 55%);

  --body-bg-color: hsl(255,100%,100%);
  --content-box-bg:hsl(255,100%,100%);
  --main-top-padding: 1.5vw;

  --basic-radius: calc(0.2rem + 0.2vw);  /* basic radius for card/boxes */
  --box-wrap-width: 86vw;
  --box-wrap-with-max: 1860px;
  --box-padding:max(10px,0.7rem);

  --header-wrap-width: 88vw;
  --header-title-color: var(--first-color);
  --header-subtitle-color: var(--first-color);
  --select-color: var(--dark-base-color);
  --header-bg:var(--light-base-color);
  --header-bg-color:#fff;
  --header-info:var(--dark-base-color);


  --mainBgImg: url('https://robostaticcontent.s3.eu-central-1.amazonaws.com/Content/SunFestival/Images/mainBg.jpg');
  --headerBgImg:url('https://robostaticcontent.s3.eu-central-1.amazonaws.com/Content/SunFestival/Images/headerBg.svg');

  --loginPanel-bg: linear-gradient(90deg, hsl(8, 95%, 85%) 0%, hsl(248, 35%, 90%) 55%);
  --loginPanel-bg-color:rgba(217, 244, 245, 0.7);

  --footer-content-width: 78vw;
  --footer-address-bg-color: var(--dark-base-color);
  --footer-address-txt-color: whitesmoke;
  --footer-sponsors-bg-color: white;
  --footer-copyright-bg-color: white;

  --btn-h: min(calc(33px + 1vb),48px);
  --btn-radius: var(--basic-radius);
  --btn-bg-action-color: ;

  --txt-extra-small:  clamp(0.7rem, 0.25vb + 0.7rem, 1.2rem);
  --txt-small:        clamp(0.8rem, 0.5vw + 1rem, 1.6rem);
  --txt-norm:         clamp(1rem, 0.5vw + 1.2rem, 1.8rem);

 
}

html {
  width: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-rendering: geometricPrecision;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
picture{
  overflow: hidden;
}
img {
  display: block;
}

a:where(:not(.btn-ro, .chips, .LoginPanel)){
  color: rgb(40, 136, 255);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

main {
  width: 100%;
  min-height: 90svh;
  padding: var(--main-top-padding) 8px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  background-image: var(--mainBgImg);
  background-size: cover;
  //background-blend-mode: color-dodge;
  background-color: var(--body-bg-color);
  overflow-y: visible;
}

.main-wrap, .box-wrap{
  width: var(--box-wrap-width);
  max-width: var(--box-wrap-with-max);
  margin: 0 auto;
  gap:1rem;
}
.main-wrap {
  display: flex;
  flex-direction: column;
}

@media (max-width:640px) {
  .main-wrap, .box-wrap{
    width:unset;
    margin: 0 auto;
  }
}

#box picture img {
  transition: all ease 1s; 
}

#box picture img:hover {
  transform: scale(1.1);
  filter: saturate(3);
  transition: all ease 0.5s;  
} 

#box{
  filter: drop-shadow(0 2px 8px rgba(17, 17, 17, 0.355));
}
