/* INDEX BOX LAYOUT DEFINITION */

.box-wrap {
  display: grid;
  grid-gap: min(2rem,4vb);
  justify-content: center;
}

@media (width <= 640px) {
  .box-wrap{
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    width:96vw;
  }
}
@media (width > 640px) and (width <= 1250px) {
  .box-wrap {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (width > 1250px) {
  .box-wrap{
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  }
}


/* INDEX BOX/CARD DEFINITION */

#box{
  display: flex;
  flex-direction: column;
  border-radius: var(--basic-radius);
  aspect-ratio: 10 / 14;
  overflow: hidden;
  container-type:inline-size;
  filter: drop-shadow(0 2px 8px rgba(17, 17, 17, 0.355));
}

  #box picture img {
  width: 100%;
  object-fit:cover;
  object-position: bottom;  
  } 
 
#box .stripe {
  flex: 0 0 42%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  padding: max(1.5vw,15px);
  gap: 0.5rem;
  align-content:stretch;
  background-color: rgb(77, 48, 124);
}

#box .stripe p {
text-overflow:clip;
overflow: hidden;
letter-spacing: 0.1ch;
text-wrap: balance;
}

#box .stripe .day {
  grid-column: span 2;
  grid-row: 1;
  font-weight: 700; 
  color: var(--light-base-color);    
} 

#box .stripe .short-dsc {
  grid-column: span 2;
  grid-row: 2;
  font-weight: 400;
  color: var(--light-base-color); 
}

#box .stripe .btn-ro {
  grid-column: span 2;
  grid-row: 3;
  justify-self: center;
  margin: 1rem;
} 

@media (width <= 640px) {
  #box {
    max-width: unset;
  }
}

 @container (width > 300px){
  #box .stripe .day {
   font-size:large;
   }
   #box .stripe .short-dsc{
     font-size: medium;
   }
 } 
 

 @media screen and (resolution > 270dpi) {
  @container (width > 300px){
    #box .stripe .day {
     font-size: x-large;
     }
     #box .stripe .short-dsc{
       font-size:large;
     }
   } 
 }


 