.btn-ro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: clamp(0.8rem, 0.2lvw + 0.8rem, 2rem);
  height: 120px;
  width: auto;
  border-radius: 0;
  padding: 0.8rem clamp(1rem, 1rem + 1vw, 2rem);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
  background: var(--accent-color);
  height: var(--btn-h);
  text-transform: uppercase;
  font-weight: 600;
}

.LoginPanel[data-logged="false"] {
  :first-child::before {
    content: url("../assets/icons/login.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  :last-child::before {
    content: url("../assets/icons/registration.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}

.LoginPanel[data-logged="false"] a {
  height: 112px;
}

btn-ro:hover {
  filter: contrast(1.35);
}

.normal {
  background: var(--accent-color);
  color: var(--light-base-color);
}
.accent {
  background: var(--accent-color);
  color: var(--light-base-color);
}

@media screen and (resolution > 270dpi) {
  @media (max-width: 640px) {
    a.btn-ro {
      height: calc(var(--btn-h) * 1.25);
    }
  }
}
