@import url("new-header.css");
@import url("new-footer.css");
@import url("btns.css");
@import url("content-wrap.css");
@import url("override.css");
@import url("grid-10-14.css"); /* layout for productMain.html */
@import url(""); /* font */

:root {
  --first-color: #c90b0e;
  --second-color: #9c0f06;
  --third-color: #7e0f06;
  --dark-base-color: #690f06;
  --light-base-color: #f8f8f8;
  --accent-color: #fd0000;

  --first-color-tint: hsl(8, 65%, 55%);

  --body-bg-color: var(--dark-base-color);
  --content-box-bg: var(--dark-base-color);
  --main-top-padding: 4vw;

  --basic-radius: 0;
  --box-wrap-width: 76vw;
  --box-wrap-with-max: 1580px;
  --box-padding: calc(10px + 0.4vw) calc(10px + 0.4vw);

  --header-wrap-width: 80vw;
  --header-title-color: #fff;
  --header-subtitle-color: #fff;
  --header-info: var(--light-base-color);
  --select-color: #fff;
  --header-bg: #333;
  --header-bg-color: var(--first-color);

  --mainBgImg: url("https://robostaticcontent.s3.amazonaws.com/Content/DBUDK/Images/dk.jpg");
  --headerBgImg: url("https://robostaticcontent.s3.amazonaws.com/Content/DBUDK/Images/dk.jpg");

  --loginPanel-bg: var(--first-color);
  --loginPanel-bg-color: var(--first-color);

  --footer-content-width: 100vw;
  --footer-address-bg-color: var(--third-color);
  --footer-address-txt-color: whitesmoke;
  --footer-sponsors-bg-color: var(--second-color);
  --footer-copyright-bg-color: var(--third-color);

  --btn-h: calc(36px + (0.5vh + 0.5vw));
  --btn-radius: var(--basic-radius);
  --btn-bg-action-color: ;

  --txt-extra-small: clamp(0.7rem, 0.25vw + 0.7rem, 1.2rem);
  --txt-small: clamp(0.8rem, 0.35vw + 1rem, 1.5rem);
  --txt-norm: clamp(1rem, 0.5vw + 1.2rem, 1.8rem);
}

html {
  width: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  text-rendering: geometricPrecision;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
picture {
  overflow: hidden;
}
img {
  display: block;
}

a:where(:not(.btn-ro, .chips, .LoginPanel)) {
  color: rgb(40, 136, 255);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

main {
  width: 100%;
  min-height: 90svh;
  padding: var(--main-top-padding) 8px;
  background-position: center;
  box-sizing: border-box;
  background-image: var(--mainBgImg);
  /* background-size: cover; */
  background-color: var(--body-bg-color);
  overflow-y: visible;
  background-size: 100%;
  background-position-y: 0;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
}

.main-wrap,
.box-wrap {
  width: var(--box-wrap-width);
  max-width: var(--box-wrap-with-max);
  margin: 2rem auto;
  gap: 4rem;
}
.main-wrap {
  display: flex;
  flex-direction: column;
}

@media (max-width: 640px) {
  .main-wrap,
  .box-wrap {
    width: unset;
    margin: 0 auto;
  }
}

#box picture img {
  transition: all ease 1s;
  cursor: pointer;
}

#box picture img:hover {
  filter: saturate(3);
  transition: all ease 0.5s;
}

#box {
  filter: drop-shadow(0 2px 8px rgba(17, 17, 17, 0.355));
}
