header {
  background: rgb(166,158,142);
  background: linear-gradient(80deg,rgb(60 64 78), rgb(66 61 88) 4%, rgb(54 59 88) 65%, rgb(60 64 78));
  padding: 0.5rem 0 1rem 0;
}

@media (width <= 650px) {
  header {
    padding: 0;
  }
}

.header-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  align-items: center;
  gap: calc(10px + 1rem) 0;
  width: var(--header-wrap-width);
  margin: 0 auto;
}

.logo-top {
  grid-column: 1;
  grid-row: span 3;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  gap:0.4rem 1.2rem;
}
.logo-top > img {
  height: clamp(60px, 60px + 3vh + 3vw, 126px);
    max-width: 300px;
    margin: 10px;
}
.logo-top .c_name {
  display: flex;
  gap: 0.5em;
}

.logo-top .c_name h1{
  font-size: clamp(1.2rem, 2lvw + 1rem , 2.5rem);
    font-weight: 600;
    color: var(--header-title-color);
    text-transform: uppercase;
    line-height: 1;
}
.logo-top .c_name p {
  color: var(--header-subtitle-color);
  font-size: var(--txt-small);
  font-weight: 500;
  line-height: 1;
}
.lang {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: calc(10px + 2vw);
  font-size: 1rem;
  width: auto;
}

.lang > select {
  border:0px !important;
  border-bottom: #bbb !important;
  border-bottom-style: solid !important;
  padding: 0.5em 3em;
  text-align: center;
  background-color: transparent;
  color: var(--select-color);
  width: max-content;
  max-height: 42px;
  border-radius: 0 !important;
}

.lang > a {
  color:#ccc;
  font-size: var(--txt-extra-small);
  display: flex;
  gap:10px;
}

.LoginPanel {
  grid-column: 2 / 3;
  grid-row: 2;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  height: min-content;
  width: min-content;
  gap:0.5rem 1rem;
  overflow: hidden;
  padding: var(--box-padding);
  background: var(--loginPanel-bg);
  border-radius: var(--basic-radius);
}

@media screen and (max-width:1260px) and (min-width:980px) {
  .logo-top {
    flex-wrap: wrap;
  }
}
@media screen and (max-width:980px) and (min-width:620px) {
  .logo-top {
    grid-column: span 3;
    grid-row: 2;
    justify-content: center;
  }
  .lang {
    grid-column: span 3;
    grid-row: 1;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .LoginPanel {
    grid-column: span 2;
    grid-row: 3;
    justify-content: center;
    justify-self: stretch;
    width: auto;
  }  
}

@media (max-width:620px) {
  .header-wrap {
    width: 90svw;
    gap: 1.7rem;
  }
  .logo-top {
    grid-column: span 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }
  .logo-top > img {
    max-width: 55vw;
  }
  .lang{
    grid-column: span 3;
    grid-row: 1;
    justify-content: space-between;
    width: auto;
  }
  .LoginPanel {
    grid-column: span 3;
    grid-row: 3;
    display: grid;
    grid-template-columns: auto; 
    justify-self:stretch;
    width: auto; 
    row-gap: 0.7rem;
  }
}

/* HEADER PANEL AFTER LOGIN */

.LoginPanel[data-logged='']{
  gap:0.3rem;
}
.LoginPanel[data-logged=''] a {
  color: rgb(54, 59, 74);
}
.LoginPanel[data-logged=''] .buttons {
  display: flex;
  justify-content: flex-end;
  gap:5px;
}
.LoginPanel[data-logged=''] .buttons > a {
  width: max-content;
  word-break: keep-all;
  font-size: var(--txt-extra-small);
  border: 1px solid #666;
  padding: 0.1rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.LoginPanel[data-logged=''] .user {
  grid-column: 1;
    grid-row: span 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap:0.3rem 0.5rem;
}
.LoginPanel[data-logged=''] .user .username {
    font-size: 1.1rem;
    color:rgb(48, 50, 58);
    font-weight: 600;
    width: max-content;
    min-width: 15ch;
} 
.LoginPanel[data-logged=''] .user .logout {
  font-size: var(--txt-extra-small);
  visibility: hidden;
}
.LoginPanel[data-logged=''] #cart_panel {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: start;
  align-items: center;
  gap: 8px;
}
.LoginPanel[data-logged=''] #cart_panel .bucket{
  display: flex;
}
.LoginPanel[data-logged=''] #cart_panel .bucket span {
  width: 1rem;
  aspect-ratio: 1 / 1;
}
.LoginPanel[data-logged=''] #cart_panel p.clock{
  font-size: var(--txt-extra-small);
}
.LoginPanel[data-logged=''] #cart_panel .bucket:not([data-cart_count='']):after {
  content: attr(data-cart_count);
  font-size:var(--txt-extra-small);
  position: relative;
  left: -6px;
  top: -5px;
  padding: 0.45rem;
  background-color: rgb(169, 155, 52);
  color:#fff;
  clip-path: circle();
  z-index: 15;
  display: flex;
  align-items: center;
}
.LoginPanel[data-logged=''] #cart_panel .bucket[data-cart_count=''] ~ a.cart_delete {
  visibility: collapse;
  position: relative;
}
@media (max-width:620px) {
  header .header-wrap .logo-top {
    gap: 0;
    grid-row: 1;
  }
  header .header-wrap .logo-top img {
    margin: 0;
  }
  header .header-wrap .lang{
    grid-row: inherit;
  }
  .LoginPanel[data-logged=''] {
    grid-row: 2;
  }

  .LoginPanel[data-logged=''] .user {
    grid-column: span 3;
    grid-row: 1;
    justify-content: space-between;
  }
  .LoginPanel[data-logged=''] .buttons {
    grid-column: span 3;
    grid-row: 2;
    justify-content: end;
  }
  .LoginPanel[data-logged=''] #cart_panel {
    grid-column: span 3;
    grid-row: 3;
  justify-content:end;
    align-items: center;
  }
}

@media (max-width:620px) and (min-resolution:250dpi ) {

  .LoginPanel[data-logged=''] .buttons > a {
    font-size: var(--txt-small);
  }

  .LoginPanel[data-logged=''] #cart_panel .bucket img{
    width: 2rem;
  }

  .LoginPanel[data-logged=''] #cart_panel .bucket:not([data-cart_count='']):after {
    font-size:var(--txt-small);
  }

  .LoginPanel[data-logged=''] #cart_panel a.cart_delete{
    font-size:var(--txt-norm); 
  }

  .LoginPanel[data-logged=''] #cart_panel p.clock {
    font-size: var(--txt-small);
  }

}